.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

.Editor {
  display: flex;
}

.EditorControls {
  background-color: purple;
}

.EditorSvgDocument {
  background-color: green;
}

