.editor__rect {
  fill: red;
  cursor: default;
}
.editor__rect--active {
  stroke: black;
  stroke-width: 2;
}
.editor__rect--mode-move {
  cursor: grab;
}

.editor__rect--mode-remove {
  /**
    todo
     */
  cursor: not-allowed;
}
